* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  
  font-size: 16px;
  line-height: 1.7;
  color: black;
  margin: 0;
}

.main{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}


