#logoFiltre{
    width: 20vw;
    height: 20vw;
    margin-top: 5vw;
    margin-left: 20%;
}

.back-select{
    background-color: #663399;
}


#select{
    color:antiquewhite;
    background-color: #663399;
    width: 13vw;
}

.p-stats{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.stats{
    width: 100%;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  background-color: #17181c;
  letter-spacing: 1px;
  margin-left: 20%;
}

.filtre{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: #2E3039;
    border-radius: 10px;
    padding-bottom: 1rem;
    color: antiquewhite;
    width: 30vw;
}

.logo-stats{
    display: flex;
    flex-direction: row;
}

