img{
    width: 50px;
}

.stats{
    font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}

.filtre{
    text-align: right;
}